/* login */
.login {
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

.login::after {
  content: "";
  background: url('../images/login_bg.jpg');
  opacity: .1;   
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.login-container {
  padding: 13vh 30vw 13vh 30vw;
}

.login-logo {
  width: 24vmax;
  height: auto;
}

/* navbar */
.logo-navbar {
  height: 50px;
  width: auto;
}

/* account */
.wrapper {
  display: flex;
  justify-content: space-between;
}

/* .wrapper::after {
  content: "";
  background: url('../images/login_bg.jpg');
  opacity: .05;   
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.main {
  width: 70%;
  height: 93.7vh;
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
}

.sidebar {
  padding: 15px;
  width: 30%;
  min-height: 93.7vh;
  height: min-content;
  margin-top: 55px;
  border: 3px double black;
  border-radius: 10px;
}

.folder-icon {
  width: 20px;
  height: auto;
}

/* upload/note/edit */
.upload, .document, .edit {
  border: 3px double black;
  border-radius: 10px;
  padding: 15px;
  height: 93.7vh;
}

.img-preview {
  max-width: 100%;
  max-height: 70vh;
  height: auto;
}