/* navbar */
.logo {
  height: auto;
  width: 24vh;
}

.navbar {
  height: 8vh;
}

/* account */
.wrapper {
  display: flex;
  justify-content: space-between;
}

.main, .sidebar {
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
  /* background-color: #fff; */
}

.main {
  width: 70%;
  height: 92vh;
  position: -webkit-sticky;
  position: sticky;
  top: 8vh;
}

.sidebar {
  width: 30%;
  min-height: 92vh;
  height: min-content;
  margin-top: 8vh;
}

/* upload/note/edit */
.upload, .document, .edit {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  /* background-color: rgb(192, 192, 192); */
}