/* login */
.login {
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

.login::after {
  content: "";
  background: url('../images/login_bg.jpg');
  opacity: .1;   
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.login-container {
  padding: 13vh 30vw 13vh 30vw;
}

.login-logo {
  width: 24vmax;
  height: auto;
}

/* navbar */
.logo {
  height: auto;
  width: 24vh;
}

.navbar {
  height: 8vh;
}

/* account */
.wrapper {
  display: flex;
  justify-content: space-between;
}

.main, .sidebar {
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
  /* background-color: #fff; */
}

.main {
  width: 70%;
  height: 92vh;
  position: -webkit-sticky;
  position: sticky;
  top: 8vh;
}

.sidebar {
  width: 30%;
  min-height: 92vh;
  height: min-content;
  margin-top: 8vh;
}

/* upload/note/edit */
.upload, .document, .edit {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  /* background-color: rgb(192, 192, 192); */
}